@using Microsoft.AspNetCore.Components.Sections

<SectionContent SectionName="LogoSection">
    <MudImage Fluid Src="img/logo.png" Alt="logo" Class="rounded-lg" />
</SectionContent>

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" >
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Nothing to see here...</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<SectionContent SectionName="FooterSection">Do Telegram bots dream of premium users?</SectionContent>